.body {
    background-image: url("logistics_lorry_mountains.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

.logo {
    color: rgb(72, 74, 142);
}

.container {
  position: relative;
  top: 30%;
}