<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbarHeader">
    <a class="navbar-brand" routerLink="/dashboard">
        <h3><i>info</i>TRAK</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button class="btn btn-outline-success" type="button">
                        <i class="fas fa-check-circle"></i> Resolved
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button class="btn btn-outline-danger" type="button">
                        <i class="fas fa-times-circle"></i> Unresolved
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button class="btn btn-outline-info" type="button">
                        <i class="fas fa-plus-square"></i> Add Issue
                    </button>
                </a>
            </li>
        </ul>

        <form for="search-box" class="form-inline my-2 my-lg-0" action="#">
            <input #searchBox [(ngModel)] = "searchValue" class="form-control mr-sm-2"
                type="search" placeholder="Search Issue Keyword" aria-label="Search" name="searchbox">

            <button class="btn btn-outline-success my-2 my-sm-0"
                type="button" [routerLink]="['/dashboard']" [queryParams]="{search_params: searchValue}">
                Search
            </button>
          </form>

        <form class="form-inline my-2 my-lg-0" action="#">
            <button class="btn btn-outline-warning ml-sm-2 my-2 my-sm-0" type="submit">
                <i class="fas fa-power-off"></i> Logout
            </button>
        </form>

    </div>
</nav>