h3 {
    color: rgb(72, 74, 142);
}

.filter {
    color: black;
}

h5 {
    color: black;
}

.btn {
    color: black;
}

.navbar.fixed-top.navbar-expand-lg {
    background-color: white !important;
}

.dropdown-toggle {
    color: black;
}
