<app-navbar></app-navbar>

<div class="bg">
    <div class="d-flex justify-content-center h-100">
        <div class="card">

            <div *ngIf="error_message" class="row align-items-center justify-content-center">
                <div class="col-md">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error_message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            (click)="clearMessage()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="success_message" class="row align-items-center justify-content-center">
                <div class="col-md">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ success_message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            (click)="clearMessage()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-header">
                <h2><b>Password Change</b></h2>
            </div>

            <div class="card-body">
                <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChange()">

                    <div class="row">
                        <div class="col-md">
                            Old Password
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="old_password" required>
                            </div>
                            <div>
                                <label class="error-msg"
                                    *ngIf="isRequired(passwordChangeForm, 'old_password') && isTouched(passwordChangeForm,'old_password')">
                                    Please Enter Old Password
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            New Password
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="new_password" required>
                            </div>
                            <div>
                                <label class="error-msg"
                                    *ngIf="isRequired(passwordChangeForm, 'new_password') && isTouched(passwordChangeForm,'new_password')">
                                    Please Enter New Password
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            Confirm Password
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="confirm_password" required>
                            </div>
                            <div>
                                <label class="error-msg"
                                    *ngIf="isRequired(passwordChangeForm, 'confirm_password') && isTouched(passwordChangeForm,'confirm_password')">
                                    Please Enter Confirm Password
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-md-4 password_change_button">
                            <input type="submit" value="Submit" class="btn btn-sm password_change_btn">
                        </div>
                        <div class="col-md-4 cancel_button">
                            <a [routerLink]="['/']">
                                <input type="submit" value="Cancel" class="btn btn-sm password_change_btn">
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>