<!doctype html>
<html lang="en">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<head>
  <title>{{title}}</title>
</head>

<header>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12">
        <app-navbar></app-navbar>
      </div>
    </div>
  </div>
</header>

<body class="body">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</body>


</html>