<app-navbar (statusUpdate)="onChangeStatus($event)"></app-navbar>

<div class="dashboard">
    <div *ngIf="filterValue">
        <div class="row mt-2 justify-content-center align-items-center">
            <div class="col-md-12">
                <h4><i><i class="fas fa-filter"></i></i></h4>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <h4 *ngFor="let items of filterValue | keyvalue">
                <i>
                    <span *ngIf="items.value == true && items.key != 'status'">{{items.key | titlecase}}, &nbsp;</span>
                    <span *ngIf="items.key == 'status'"> {{items.value}}</span>
                </i>
            </h4>
        </div>
    </div>

    <div class="table mt-2">
        <table class="table small table-fit">
            <thead class="thead">
                <tr>
                    <th>Ticket#</th>
                    <th>Company</th>
                    <th>Issue Report Date</th>
                    <th>Issue Description</th>
                    <th>Priority</th>
                    <th>Domain</th>
                    <th>Assigned To</th>
                    <th>Support Engineer</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>

            <tbody *ngFor="let issue of issues | filterIssues: filterValue; let i = index">
                <tr [class.status]="i%2 == 0">
                    <td>{{issue.id}}</td>
                    <td>{{issue.company}}</td>
                    <td>{{issue.issue_report_date}}</td>
                    <td class="description">{{issue.issue_description}}</td>
                    <td>{{issue.priority}}</td>
                    <td>{{issue.domain}}</td>
                    <td>{{issue.assigned_to}}</td>
                    <td>{{issue.support_engineer}}</td>
                    <td>{{issue.status}}</td>
                    <td>
                        <div class="row justify-content-center">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item-sm">
                                    <a class="nav-link">
                                        <button type="button" class="btn btn-success"
                                            (click)="openScrollableContent(longContent, issue.id)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </a>
                                </li>
                                <ng-template #longContent let-modal>
                                    <div class="modal-header" *ngIf="selectedIssue">
                                        <h4 class="modal-title">Ticket# {{selectedIssue.id}}</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" *ngIf="selectedIssue">

                                        <div *ngIf="confirmation" class="row align-items-center justify-content-center">
                                            <div class="col-lg-6">
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    {{ confirmation }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close" (click)="clearMessage()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <b>ID:</b> {{selectedIssue.id}} <br>
                                        <b>Customer Name:</b> {{selectedIssue.customer_name}} <br>
                                        <b>Company:</b> {{selectedIssue.company}} <br>
                                        <b>Source:</b> {{selectedIssue.source}} <br>
                                        <b>E - mail:</b> {{selectedIssue.email}} <br>
                                        <b>Phone:</b> {{selectedIssue.phone}} <br>
                                        <b>Issue Report Date:</b> {{selectedIssue.issue_report_date}} <br>
                                        <b>Issue Description:</b> {{selectedIssue.issue_description}} <br>
                                        <span *ngIf="selectedIssue.issue_file">
                                            <b>Issue Attachment:</b> {{selectedIssue.issue_file}} <button
                                                class="btn btn-outline-primary" type="button"
                                                (click)="getFile(selectedIssue.issue_file)">
                                                <b><i class="fa fa-download"></i></b>
                                            </button>
                                            <br>
                                        </span>
                                        <b>Domain:</b> {{selectedIssue.domain}} <br>
                                        <b>Priority:</b> {{selectedIssue.priority}} <br>
                                        <b>Assigned To:</b> {{selectedIssue.assigned_to}} <br>
                                        <b>Support Engineer:</b> {{selectedIssue.support_engineer}} <br>
                                        <span *ngIf="selectedIssue.status == 'Working'">
                                            <b>Expected Fix Date:</b> {{selectedIssue.issue_fix_date}} <br>
                                        </span>
                                        <span *ngIf="selectedIssue.status == 'Fixed'">
                                            <b>Issue Fix Date:</b> {{selectedIssue.issue_fix_date}} <br>
                                        </span>
                                        <b>Status:</b> {{selectedIssue.status}} <br>
                                        <b>Support Engineer Comments:</b> {{selectedIssue.support_engineer_comments}}
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning"
                                            (click)="remind(selectedIssue.assigned_to, selectedIssue.id)"><i
                                                class="far fa-bell"> Remind</i>
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modal.close('Close click')">Close
                                        </button>
                                    </div>
                                </ng-template>

                                <li class="list-group-item-sm">
                                    <a class="nav-link" routerLink="/modify-issue/{{issue.id}}">
                                        <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>