h4 {
    text-align: center;
    color: gray;
}

.dashboard {
    padding-top: 5%;
}

.status {
    background-color: lightgrey;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.description {
    max-width:500px;
    word-wrap:break-word;
}

th {
    white-space: nowrap;
}

ul {
    list-style-type: none;
}
